.section__about {
    // margin: 0 auto;
    // max-width: $maxWidthContainer;
    
    .about {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .about__box {
            line-height: 2;
            margin: 0 auto;
            text-align: center;

            .about__box_paragraph {
                font-family: $fontFamily;
                font-size: 28px;
                color: $backGroundColorMain;
                
            }
            .about__box_header {
                font-family: $fontFamilyPlay;
                font-size: 38px;
                color: $backGroundColorMain;

            }

            // .about__btn {
            //     display: block;
            //     margin: 0 auto;
            //     margin-top: 30px;
            //     border-radius: 10px;
            //     background-color: #436;
            //     color: #fff;
            //     padding: 10px 20px;
            //     text-transform: uppercase;
            //     font-size: 16px;
            // }
        }
        .about__image {
            .about__image_img {}
            
        }
    }
}

.section__about {

    .about {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        .about__box {
            line-height: 2;
            margin: 0 auto;
            text-align: center;

            .about__box_paragraph {
                font-family: $fontFamily;
                font-size: 28px;
                color: $backGroundColorMain;

            }
            .about__box_header {
                font-family: $fontFamilyPlay;
                font-size: 38px;
                color: $backGroundColorMain;
            }

            .about__form {
                font-family: $fontFamilyPlay;
                font-size: 26px;
                color: #999933;

                .about__form_square {

                    .about__form_square-input {
                    
                        font-family: $fontFamilyPlay;
                        font-size: 36px;
                        color: #c81231;
                        text-align: center;
                    }
                }

                .select {
                    color: #c81231;
                    font-family: $fontFamilyPlay;
                    font-size: 20px;
                }

                .about__form_result {
                    display: block;
                }
                

                .about__btn {}
            }
        }

        .about__image {

            .about__image_img {}
        }



    }

}
