.questions {
    padding-top: 40px;
    max-width: $maxWidthContainer;
    margin: 0 auto 40px;

    .questions__box {
        display: flex;    

        .questions__text {
            padding: 0 40px;

            .questions__box_header {
                font-family: $fontFamilyPlay;
                color: $backGroundColorMain;
                font-size: 38px;
                padding: 0 0 30px 30px;
            }
            .questions__text_paragraph {
                padding: 10px 0;
                color: $backGroundColorMain;
                font-family: $fontFamily;
                font-size: 18px;
                color: #999933;
            }

            .questions__images {
                padding-top: 20px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;    

                .questions__images_img {
                    margin: 0 20px 0;
                }                
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .questions__images_img4-none {
        display: none;
    }
}
