.section__slide {

    .slider__box {
        

        .slider__box_header {
            text-transform: uppercase;
            font-family: $fontFamily;
            color: $backGroundColorMain;
            font-size: 28px;
            font-weight: 700;
            padding: 15px 0 30px 0;
            text-align: center;
            
        }

        .slider {
            position: relative;
            padding: 0 50px;
            margin-bottom: 30px;

            .slick-list {
                overflow: hidden;
                
            }
            .slick-track{
                display: flex;

            }

            .slick-arrow {
                position: absolute;
                top: 50%;
                margin: -10px 0 0 0;
                z-index: 10;
                font-size: 0;
                width: 22px;
                height: 25px;

            }

            .slick-next {
                right: 0;
                background: url('../img/ArrRight.png') 0 0/ 100% no-repeat;
            }

            .slick-prev {
                left: 0;
                background: url('../img/ArrLeft.png') 0 0/ 100% no-repeat;

            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .slick-dots button {
                font-size: 0;
                height: 10px;
                width: 10px;
                background-color: $backGroundColorMain;
                border-radius: 50%;
            }

            .slick-dots li {
                margin: 10px 10px 0;
            }

            .slick-active button {
                background-color: transparent;
                border: 2px solid $backGroundColorMain;
            }

            .slider__item {
                text-align: center;

                .slider__description {}
            }

        }

    }

}

@media screen and (max-width: 1199px) {
    .section__slide {

        .slider__box {
            
    
            .slider__box_header {}
    
            .slider {
                padding: 0 25px;
    
                .slick-list {
                    
                }
                .slick-track{
    
                }
    
                .slick-arrow {
    
                }
    
                .slick-next {
                }
    
                .slick-prev {
    
                }
    
                .slick-dots {
                }
    
                .slick-dots button {
                }
    
                .slick-dots li {
                }
    
                .slick-active button {
                }
    
                .slider__item {
    
                    .slider__description {}
                }
    
            }
    
        }
    
    }
}