
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap subset=cyrillic-ext");
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
$fontFamily: "Roboto", serif;
$fontFamilyPlay: 'Play-bold', serif;
$maxWidthContainer: 1400px;
$backGroundColorSecond:  #999933;
$backGroundColorMain: #26273d;
// $colorGreen: #003333;


@import "normalizing";
@import "footer__style.scss";
@import "ceilings__style";
@import "about__style";
@import "service__style";
@import "slider__style";
@import "questions__style";
@import "reviews__style";



.container {
	// margin: 0 auto;
	max-width: $maxWidthContainer;
	.header {
		.site-head {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			background-color: $backGroundColorMain;
			padding: 15px 15px 15px 15px;
			.site-head__logo {
				.navigation__logo_image {}
			}
			.site-head__text {
				.site-head__text_header {
					font-family: $fontFamilyPlay;
					font-size: 38px;
					text-transform: uppercase;
					color: #fff;
				}
				.site-head__text_header2 {
					font-family: $fontFamily;
					font-size: 28px;
					text-transform: uppercase;
					color: #fff;
					font-style: italic;
				}
			}
			.site-head__tel {
				.site-head__tel_number {
					.site-head__tel_link {
						color: #fff;
						font-family: $fontFamily;
						font-size: 28px;
						position: relative;
						padding-left: 30px;
					}
					.site-head__tel_link::before {
						content: '';
						position: absolute;
						background-image: url('../img/Mobile-head.png');
						width: 13px;
						height: 22px;
						top: 7px;
						left: 0;
					}
				}
			}
			.site-head__city {
				.site-head__city_name {
					color: #fff;
					font-family: $fontFamily;
					font-size: 28px;
					position: relative;
					padding-left: 30px;
				}

				.site-head__city_name a {
					color: #fff;
				}
				.site-head__city_name::before {
					position: absolute;
					content: "";
					background-image: url('../img/Place.png');
					width: 16px;
					height: 22px;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.navigation {
		.navigation__nav {
			.navigation__list {
				padding: 10px 30px;
				.navigation__list_item {
					display: inline;
					padding: 0 80px 0 0;
					.navigation__list_link {
						color: #999933;
						font-family: $fontFamily;
						font-size: 22px;
						text-transform: uppercase;
						font-weight: 700;
					}
				}
			}
		}
	}
	
}


.footer__main {
	margin-top: 40px;
}

@media screen and (max-width: 1199px) {
	.container {
		.header {
			.site-head {
				padding: 10px 10px 10px 10px;

				.site-head__logo {
					.navigation__logo_image {}
				}
				.site-head__text {
					.site-head__text_header {
						font-size: 32px;
					}
	
					.site-head__text_header2 {
						font-size: 24px;
					}
				}
				.site-head__tel {
					.site-head__tel_number {
						.site-head__tel_link {
							font-size: 24px;
						}
						.site-head__tel_link::before {
							content: '';
							position: absolute;
							background-image: url('../img/Mobile-head.png');
							width: 13px;
							height: 22px;
							top: 7px;
							left: 0;
						}
					}
				}
				.site-head__city {
					.site-head__city_name {
						font-size: 24px;
						
					}
	
					.site-head__city_name a {
					}
	
					.site-head__city_name::before {}
	
				}
			}
		}
		.navigation {
			.navigation__nav {
				.navigation__list {
					.navigation__list_item {
						.navigation__list_link {}
					}
				}
			}
		}
		
	}
}

@media screen and (max-width: 992px) {
		.container {
			.header {
				.site-head {
					.site-head__logo {
						.navigation__logo_image {}
					}
					.site-head__text {
						.site-head__text_header {
							font-size: 28px;
						}
		
						.site-head__text_header2 {
							font-size: 20px;
						}
					}
					.site-head__tel {
						.site-head__tel_number {
							.site-head__tel_link {
								font-size: 20px;
								padding-left: 20px;
							}
							.site-head__tel_link::before {
								top: 0px;
							}
						}
					}
					.site-head__city {
						.site-head__city_name {
							font-size: 20px;
							padding-left: 20px;
							
						}
		
						.site-head__city_name a {
						}
		
						.site-head__city_name::before {
							top: 0px;

						}
		
					}
				}
			}
			.navigation {
				.navigation__nav {
					.navigation__list {
						padding: 10px 0 0 25px;
						.navigation__list_item {
							padding: 0 40px 0 0;
							.navigation__list_link {
						font-size: 18px;
							}
						}
					}
				}
			}
			
		}
	}


@media screen and (max-width: 768px) {
	.container {
		.header {
			.site-head {
				display: block;
				padding: 0;
				.site-head__logo {
					text-align: center;
					padding: 20px 0 10px 0;
					.navigation__logo_image {}
				}
				.site-head__text {
					text-align: center;
					padding-bottom: 10px;

					.site-head__text_header {
						font-size: 30px;
					}
					.site-head__text_header2 {
						font-size: 24px;
					}
				}
				.site-head__tel {
					text-align: center;
					padding-bottom: 10px;

					.site-head__tel_number {
						.site-head__tel_link {
							font-size: 24px;
						}
						.site-head__tel_link::before {
							display: none;
						}
					}
				}
				.site-head__city {
					text-align: center;
					padding-bottom: 10px;


					.site-head__city_name {
						font-size: 24px;
						text-align: center;


					}
	
					.site-head__city_name a {
					}
					.site-head__city_name::before {
						display: none;
					}
				}
			}
		}
		.navigation {
			.navigation__nav {

				.navigation__list {
					text-align: center;
					padding: 10px 10px 0 0;
					.navigation__list_item {
						display: inline;
						padding: 0 20px 0 0;
						.navigation__list_link {
							color: #999933;
							font-size: 18px;
							font-weight: 400;
						}
					}
				}
			}
		}
		
	}
}

@media screen and (max-width: 768px) {
	.footer__main {
		margin-top: 20px;
	}
}



@media screen and (max-width: 687px) {
	.tabs {
	  flex-direction: column;
	  margin: 0;
	  
	}
	   
	.tabs li {
	  width: 100%;
	  margin: 0;
	}
	   
	.tabs li:not(:last-child) {
	  margin-right: 0;
	  margin: 0;
	}
	   
	.tabs li a {
	  border-radius: 0;
	  opacity: 1;
	  top: 0;
	  margin: 0;
	}
	   
	.tabs li.active a::before {
	  content: '•';
	  padding-right: 5px;
	}
	   
	.tabs-content {
	  border-radius: 0;
	}
  }

@media screen and (max-width: 576px) {
	.container {
		.header {
			.site-head {
				.site-head__logo {
					.navigation__logo_image {}
				}
				.site-head__text {
					.site-head__text_header {
						font-size: 24px;
					}
					.site-head__text_header2 {
						font-size: 18px;
					}
				}
				.site-head__tel {
					.site-head__tel_number {
						.site-head__tel_link {
							font-size: 18px;
						}
						.site-head__tel_link::before {
							content: '';
							position: absolute;
							background-image: url('../img/Mobile-head.png');
							width: 13px;
							height: 22px;
							top: 7px;
							left: 0;
						}
					}
				}
				.site-head__city {
					.site-head__city_name {
						font-size: 18px;
					}
	
					.site-head__city_name a {
					}
					.site-head__city_name::before {
						position: absolute;
						content: "";
						background-image: url('../img/Place.png');
						width: 16px;
						height: 22px;
						top: 0;
						left: 0;
					}
				}
			}
		}
		.navigation {
			.navigation__nav {
				.navigation__list {
					padding: 10px 10px;
					.navigation__list_item {
						display: block;
						padding: 0 20px 0 0;
						.navigation__list_link {
							font-size: 16px;
						}
					}
				}
			}
		}
		
	}
}