@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap subset=cyrillic-ext");

@font-face {
  font-family: "Play-Bold";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.footer {
  background-color: #26273d;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-box .footer-box__logo {
  max-width: 300px;
  text-align: center;
}

.footer .footer-box .footer-box__logo .footer-box__logo_image {
  margin-bottom: 20px;
}

.footer .footer-box .footer-box__logo .footer-box__logo_text {
  text-align: justify;
  color: #999933;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.2;
}

.footer .footer-box .footer-box__contacts {
  color: #999933;
  font-family: "Roboto", serif;
  font-size: 16px;
  text-transform: uppercase;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_text {
  padding: 10px 0;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_phone {
  padding: 10px 0;
  position: relative;
  margin-left: 20px;
}

._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before{
  background-image: url("../img/Mobile-head.png"); }

.footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 22px;
  top: 10px;
  left: -26px;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_phone a {
  color: #999933;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_email {
  padding: 10px 0;
  text-transform: none;
  position: relative;
  margin-left: 20px;
}

._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before{
  background-image: url("../img/message.png"); }

.footer .footer-box .footer-box__contacts .footer-box__contacts_email::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 6px;
  left: -33px;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_fb {
  padding: 10px 0;
  text-transform: none;
  position: relative;
  margin-left: 20px;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_fb a {
  color: #999933;
}

._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before{
  background-image: url("../img/Facebook.png"); }

.footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 24px;
  top: 10px;
  left: -30px;
}

.footer .footer-box .footer-box__contacts .footer-box__contacts_addres {
  padding: 10px 0 0 0;
  text-transform: none;
  position: relative;
  margin-left: 20px;
}

._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before{
  background-image: url("../img/Place.png"); }

.footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 22px;
  top: 10px;
  left: -25px;
}

.section-ceiling {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-ceiling .ceiling__image .ceiling__image_img {
  margin: 0 auto;
}

.section-ceiling .ceiling__image .ceiling__image_img-none {
  display: none;
}

.section-ceiling .ceiling {
  max-width: 50%;
}

.section-ceiling .ceiling .tabs-container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-ceiling .ceiling .tabs-container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 40px;
}

.section-ceiling .ceiling .tabs-container .tabs .tabs__item a {
  font-family: "Roboto", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #26273d;
  padding: 7px;
  border-radius: 5px;
}

.section-ceiling .ceiling .tabs-container .tabs li:not(:last-child) {
  margin-right: 8px;
}

.section-ceiling .ceiling .tabs-container .tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 20px;
  border-radius: 2px 2px 0 0;
  background: #26273d;
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.section-ceiling .ceiling .tabs-container .tabs li.active a,
.section-ceiling .ceiling .tabs-container .tabs li a:hover {
  opacity: 1;
  top: 0;
}

.section-ceiling .ceiling .tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
}

.section-ceiling .ceiling .tabs-content .tabs-panel {
  display: none;
}

.section-ceiling .ceiling .tabs-content .tabs-panel p {
  text-align: justify;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 1.5;
  color: #26273d;
  font-weight: 700;
}

.section-ceiling .ceiling .tabs-content .tabs-panel.active {
  display: block;
}

.section__about {
  margin: 0 auto;
  max-width: 1400px;
}

.section__about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.section__about .about .about__box {
  line-height: 2;
  margin: 0 auto;
  text-align: center;
}

.section__about .about .about__box .about__box_paragraph {
  font-family: "Roboto", serif;
  font-size: 28px;
  color: #26273d;
}

.section__about .about .about__box .about__box_header {
  font-family: "Play-bold", serif;
  font-size: 38px;
  color: #26273d;
}

.section__about .about .about__box .about__btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #436;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.section__service {
  background-color: #26273d;
  margin-bottom: 40px;
}

.section__service .service__header {
  font-size: 36px;
  padding: 30px 0 0 60px;
  margin-bottom: 30px;
  color: #fff;
  font-family: "Play-bold", serif;
}

.section__service .service__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__service .service__box .service__description {
  min-width: 500px;
  padding: 0 30px 0 30px;
}

.section__service .service__box .service__description .service__description_paragraph {
  color: #fff;
  margin-bottom: 15px;
  font-size: 23px;
  font-family: "Roboto", serif;
}

.section__slide .slider__box .slider__box_header {
  text-transform: uppercase;
  font-family: "Roboto", serif;
  color: #26273d;
  font-size: 28px;
  font-weight: 700;
  padding: 15px 0 30px 0;
  text-align: center;
}

.section__slide .slider__box .slider {
  position: relative;
  padding: 0 50px;
  margin-bottom: 30px;
}

.section__slide .slider__box .slider .slick-list {
  overflow: hidden;
}

.section__slide .slider__box .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__slide .slider__box .slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -10px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 22px;
  height: 25px;
}

._no-webp .section__slide .slider__box .slider .slick-next{
  background: url("../img/ArrRight.png") 0 0/100% no-repeat; }

.section__slide .slider__box .slider .slick-next {
  right: 20px;
}

._no-webp .section__slide .slider__box .slider .slick-prev{
  background: url("../img/ArrLeft.png") 0 0/100% no-repeat; }

.section__slide .slider__box .slider .slick-prev {
  left: 20px;
}

.section__slide .slider__box .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__slide .slider__box .slider .slick-dots button {
  font-size: 0;
  height: 10px;
  width: 10px;
  background-color: #26273d;
  border-radius: 50%;
}

.section__slide .slider__box .slider .slick-dots li {
  margin: 10px 10px 0;
}

.section__slide .slider__box .slider .slick-active button {
  background-color: transparent;
  border: 2px solid #26273d;
}

.section__slide .slider__box .slider .slider__item {
  text-align: center;
}

.questions {
  padding-top: 40px;
  max-width: 1400px;
  margin: 0 auto 40px;
}

.questions .questions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions .questions__box .questions__text {
  padding: 0 40px;
}

.questions .questions__box .questions__text .questions__box_header {
  font-family: "Play-bold", serif;
  color: #26273d;
  font-size: 38px;
  padding: 0 0 30px 30px;
}

.questions .questions__box .questions__text .questions__text_paragraph {
  padding: 10px 0;
  color: #26273d;
  font-family: "Roboto", serif;
  font-size: 18px;
  color: #999933;
}

.questions .questions__box .questions__text .questions__images {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions .questions__box .questions__text .questions__images .questions__images_img {
  margin: 0 20px 0;
}

.reviews .reviews__container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #26273d;
  margin-top: 40px;
}

.reviews .reviews__container .reviews__box {
  padding: 0 30px 0 40px;
}

.reviews .reviews__container .reviews__box .reviews__head .reviews__head_header {
  color: #fff;
  font-family: "Play-bold", serif;
  font-size: 38px;
  padding: 30px 0 40px 0;
}

.reviews .reviews__container .reviews__box .reviews__head .reviews__head_text {
  color: #999933;
  font-family: "Roboto", serif;
  font-size: 18px;
  padding: 0 0 25px 0;
  line-height: 1.2;
}

.reviews .reviews__container .reviews__box .reviews__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews .reviews__container .reviews__box .reviews__answers .reviews__about {
  max-width: 40%;
  padding: 0 0 40px 0;
}

.reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_header {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 18px;
  padding: 0 0 15px 0;
  position: relative;
}

.reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_header::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 2px;
  left: -30px;
  border-radius: 50%;
  background-color: #999933;
}

.reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_paragraph {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 1.2;
  text-align: justify;
}

.reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_bnt {
  display: none;
}

.container {
  max-width: 1400px;
}

.container .header .site-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #26273d;
  padding: 15px 15px 15px 15px;
}

.container .header .site-head .site-head__text .site-head__text_header {
  font-family: "Play-bold", serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
}

.container .header .site-head .site-head__text .site-head__text_header2 {
  font-family: "Roboto", serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
}

.container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 28px;
  position: relative;
  padding-left: 30px;
}

._no-webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{
  background-image: url("../img/Mobile-head.png"); }

.container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 22px;
  top: 7px;
  left: 0;
}

.container .header .site-head .site-head__city .site-head__city_name {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 28px;
  position: relative;
  padding-left: 30px;
}

.container .header .site-head .site-head__city .site-head__city_name a {
  color: #fff;
}

._no-webp .container .header .site-head .site-head__city .site-head__city_name::before{
  background-image: url("../img/Place.png"); }

.container .header .site-head .site-head__city .site-head__city_name::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 22px;
  top: 0;
  left: 0;
}

.container .navigation .navigation__nav .navigation__list {
  padding: 10px 30px;
}

.container .navigation .navigation__nav .navigation__list .navigation__list_item {
  display: inline;
  padding: 0 80px 0 0;
}

.container .navigation .navigation__nav .navigation__list .navigation__list_item .navigation__list_link {
  color: #999933;
  font-family: "Roboto", serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__main {
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .section-ceiling {
    display: block;
    margin: 0 auto;
  }

  .section-ceiling .ceiling__image {
    text-align: center;
    margin-bottom: 20px;
  }

  .section-ceiling .ceiling__image .ceiling__image_img {
    display: none;
  }

  .section-ceiling .ceiling__image .ceiling__image_img-none {
    display: inline;
    padding: 0 10px;
  }

  .section-ceiling .ceiling {
    max-width: 100%;
  }

  .section-ceiling .ceiling .tabs-container .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .section__slide .slider__box .slider {
    padding: 0 25px;
  }

  .questions__images_img4-none {
    display: none;
  }

  .container .header .site-head {
    padding: 10px 10px 10px 10px;
  }

  .container .header .site-head .site-head__text .site-head__text_header {
    font-size: 32px;
  }

  .container .header .site-head .site-head__text .site-head__text_header2 {
    font-size: 24px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link {
    font-size: 24px;
  }

  ._no-webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{
    background-image: url("../img/Mobile-head.png"); }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 22px;
    top: 7px;
    left: 0;
  }

  .container .header .site-head .site-head__city .site-head__city_name {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .footer .footer-box .footer-box__logo {
    max-width: 240px;
  }

  .footer .footer-box .footer-box__logo .footer-box__logo_text {
    text-align: justify;
    color: #999933;
    font-family: "Roboto", serif;
    font-size: 10px;
    line-height: 1.2;
  }

  .footer .footer-box .footer-box__contacts {
    color: #999933;
    font-family: "Roboto", serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before {
    top: 5px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before {
    top: 2px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before {
    top: 5px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before {
    top: 5px;
  }

  .section-ceiling .ceiling__image .ceiling__image_img {
    display: none;
  }

  .section-ceiling .ceiling__image .none-2 {
    display: none;
  }

  .section-ceiling .ceiling .tabs-container .tabs {
    margin-left: 30px;
  }

  .section-ceiling .ceiling .tabs-container .tabs li:not(:last-child) {
    margin-right: 20px;
  }

  .section__service {
    background-color: #26273d;
    margin-bottom: 40px;
  }

  .section__service .service__header {
    font-size: 28px;
    padding: 30px 0 0 60px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Play-bold", serif;
  }

  .section__service .service__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__service .service__box .service__description {
    min-width: 500px;
    padding: 0 30px 0 30px;
  }

  .section__service .service__box .service__description .service__description_paragraph {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Roboto", serif;
  }

  .questions .questions__box .questions__text .questions__images {
    display: none;
  }

  .container .header .site-head .site-head__text .site-head__text_header {
    font-size: 28px;
  }

  .container .header .site-head .site-head__text .site-head__text_header2 {
    font-size: 20px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link {
    font-size: 20px;
    padding-left: 20px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before {
    top: 0px;
  }

  .container .header .site-head .site-head__city .site-head__city_name {
    font-size: 20px;
    padding-left: 20px;
  }

  .container .header .site-head .site-head__city .site-head__city_name::before {
    top: 0px;
  }

  .container .navigation .navigation__nav .navigation__list {
    padding: 10px 0 0 25px;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item {
    padding: 0 40px 0 0;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item .navigation__list_link {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }

  .footer .footer-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer .footer-box .footer-box__logo .footer-box__logo_image {
    margin-bottom: 10px;
  }

  .footer .footer-box .footer-box__logo .footer-box__logo_text {
    font-size: 12px;
    line-height: 1;
  }

  .footer .footer-box .footer-box__map {
    display: none;
  }

  .footer .footer-box .footer-box__contacts {
    font-size: 12px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_text {
    padding: 10px 0;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone {
    padding: 10px 0;
    position: relative;
    margin-left: 20px;
  }

  ._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before{
    background-image: url("../img/Mobile-head.png"); }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 22px;
    top: 4px;
    left: -29px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone a {
    color: #999933;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_email {
    padding: 10px 0;
    text-transform: none;
    position: relative;
    margin-left: 20px;
  }

  ._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before{
    background-image: url("../img/message.png"); }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 2px;
    left: -37px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb {
    padding: 10px 0;
    text-transform: none;
    position: relative;
    margin-left: 20px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb a {
    color: #999933;
  }

  ._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before{
    background-image: url("../img/Facebook.png"); }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 24px;
    top: 5px;
    left: -35px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_addres {
    padding: 10px 0 0 0;
    text-transform: none;
    position: relative;
    margin-left: 20px;
  }

  ._no-webp .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before{
    background-image: url("../img/Place.png"); }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 22px;
    top: 5px;
    left: -30px;
  }

  .section-ceiling .ceiling__image {
    display: none;
  }

  .section-ceiling .ceiling__image .ceiling__image_img {
    display: none;
  }

  .section-ceiling .ceiling__image .none-2 {
    display: none;
  }

  .section-ceiling .ceiling .tabs-container {
    margin: 0 auto;
  }

  .section-ceiling .ceiling .tabs-container .tabs {
    margin-left: 0;
    padding-left: 10px;
  }

  .section-ceiling .ceiling .tabs-container .tabs .tabs__item a {
    margin-top: 5px;
  }

  .section-ceiling .ceiling .tabs-container .tabs li:not(:last-child) {
    margin-right: 20px;
  }

  .section-ceiling .ceiling .tabs-content {
    padding-bottom: 0;
  }

  .section-ceiling .ceiling .tabs-content .tabs-panel p {
    line-height: 1.2;
  }

  .section__service {
    margin-bottom: 15px;
  }

  .section__service .service__header {
    font-size: 28px;
    padding: 20px 0 0 60px;
    margin-bottom: 15px;
  }

  .section__service .service__box .service__description {
    min-width: 500px;
    padding: 0 30px 0 30px;
    text-align: justify;
  }

  .section__service .service__box .service__description .service__description_paragraph {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .questions {
    padding-top: 20px;
    margin: 0 auto 20px;
  }

  .questions .questions__box .questions__text {
    padding: 0 20px;
  }

  .questions .questions__box .questions__text .questions__box_header {
    font-family: "Play-bold", serif;
    color: #26273d;
    font-size: 24px;
    padding: 0 0 10px 10px;
  }

  .questions .questions__box .questions__text .questions__text_paragraph {
    text-align: justify;
    font-size: 12px;
  }

  .reviews .reviews__container .reviews__box .reviews__head .reviews__head_header {
    font-size: 32px;
  }

  .reviews .reviews__container .reviews__box .reviews__head .reviews__head_text {
    font-size: 16px;
    padding: 0 0 25px 0;
    line-height: 1;
  }

  .reviews .reviews__container .reviews__box .reviews__answers .reviews__about {
    padding: 0 0 10px 0;
  }

  .reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_header {
    font-size: 14px;
  }

  .reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_paragraph {
    font-size: 12px;
    line-height: 1.1;
    min-height: 100px;
  }

  .reviews .reviews__container .reviews__box .reviews__answers .reviews__about .reviews__answers_bnt {
    display: block;
    color: #ffffff;
    background-color: #ca1048;
    font-family: "Roboto", serif;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .container .header .site-head {
    display: block;
    padding: 0;
  }

  .container .header .site-head .site-head__logo {
    text-align: center;
    padding: 20px 0 10px 0;
  }

  .container .header .site-head .site-head__text {
    text-align: center;
    padding-bottom: 10px;
  }

  .container .header .site-head .site-head__text .site-head__text_header {
    font-size: 30px;
  }

  .container .header .site-head .site-head__text .site-head__text_header2 {
    font-size: 24px;
  }

  .container .header .site-head .site-head__tel {
    text-align: center;
    padding-bottom: 10px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link {
    font-size: 24px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before {
    display: none;
  }

  .container .header .site-head .site-head__city {
    text-align: center;
    padding-bottom: 10px;
  }

  .container .header .site-head .site-head__city .site-head__city_name {
    font-size: 24px;
    text-align: center;
  }

  .container .header .site-head .site-head__city .site-head__city_name::before {
    display: none;
  }

  .container .navigation .navigation__nav .navigation__list {
    text-align: center;
    padding: 10px 10px 0 0;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item {
    display: inline;
    padding: 0 20px 0 0;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item .navigation__list_link {
    color: #999933;
    font-size: 18px;
    font-weight: 400;
  }

  .footer__main {
    margin-top: 20px;
  }
}

@media screen and (max-width: 687px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .tabs li {
    width: 100%;
    margin: 0;
  }

  .tabs li:not(:last-child) {
    margin-right: 0;
    margin: 0;
  }

  .tabs li a {
    border-radius: 0;
    opacity: 1;
    top: 0;
    margin: 0;
  }

  .tabs li.active a::before {
    content: '•';
    padding-right: 5px;
  }

  .tabs-content {
    border-radius: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 20px 0 30px;
  }

  .footer .footer-box {
    display: block;
  }

  .footer .footer-box .footer-box__logo {
    margin: 0 auto;
    max-width: 70%;
  }

  .footer .footer-box .footer-box__logo .footer-box__logo_image {
    margin-bottom: 10px;
  }

  .footer .footer-box .footer-box__logo .footer-box__logo_text {
    font-size: 12px;
    line-height: 1;
    padding-bottom: 15px;
  }

  .footer .footer-box .footer-box__map {
    display: none;
  }

  .footer .footer-box .footer-box__contacts {
    font-size: 12px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_text {
    padding: 0;
    text-align: center;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone {
    text-align: center;
    padding: 0;
    position: relative;
    padding-right: 20px;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::after {
    display: none;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_phone a {
    text-align: center;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_email {
    padding: 0;
    text-transform: none;
    position: relative;
    margin-left: 0;
    text-align: center;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_email::after {
    display: none;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb {
    padding: 0;
    text-transform: none;
    position: relative;
    margin-left: 0;
    text-align: center;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::after {
    display: none;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_addres {
    padding: 0 0 0 0;
    text-transform: none;
    position: relative;
    margin-left: 0;
    text-align: center;
  }

  .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::after {
    display: none;
  }

  .section-ceiling .ceiling .tabs-content .tabs-panel p {
    line-height: 1;
  }

  .section__service {
    margin-bottom: 10px;
  }

  .section__service .service__header {
    font-size: 18px;
    padding: 20px 0 0 30px;
    margin-bottom: 20px;
  }

  .section__service .service__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__service .service__box .service__description {
    min-width: 300px;
    padding: 0 25px 0 25px;
    text-align: justify;
  }

  .section__service .service__box .service__description .service__description_paragraph {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .section__slide .slider__box .slider .slick-next {
    display: none;
  }

  .section__slide .slider__box .slider .slick-prev {
    display: none;
  }

  .questions {
    padding-top: 15px;
    margin: 0 auto 20px;
  }

  .questions .questions__box .questions__text {
    padding: 0 20px;
  }

  .questions .questions__box .questions__text .questions__box_header {
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: white;
    background-color: #26273d;
  }

  .questions .questions__box .questions__text .questions__text_paragraph {
    text-align: justify;
    font-size: 12px;
  }

  .reviews {
    display: none;
  }

  .container .header .site-head .site-head__text .site-head__text_header {
    font-size: 24px;
  }

  .container .header .site-head .site-head__text .site-head__text_header2 {
    font-size: 18px;
  }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link {
    font-size: 18px;
  }

  ._no-webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{
    background-image: url("../img/Mobile-head.png"); }

  .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 22px;
    top: 7px;
    left: 0;
  }

  .container .header .site-head .site-head__city .site-head__city_name {
    font-size: 18px;
  }

  ._no-webp .container .header .site-head .site-head__city .site-head__city_name::before{
    background-image: url("../img/Place.png"); }

  .container .header .site-head .site-head__city .site-head__city_name::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 22px;
    top: 0;
    left: 0;
  }

  .container .navigation .navigation__nav .navigation__list {
    padding: 10px 10px;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item {
    display: block;
    padding: 0 20px 0 0;
  }

  .container .navigation .navigation__nav .navigation__list .navigation__list_item .navigation__list_link {
    font-size: 16px;
  }
}

._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before{ background-image: url(../img/Mobile-head.webp); }

._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before{ background-image: url(../img/message.webp); }

._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before{ background-image: url(../img/Facebook.webp); }

._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before{ background-image: url(../img/Place.webp); }

._webp .section__slide .slider__box .slider .slick-next{ background: url(../img/ArrRight.webp) 0 0/100% no-repeat; }

._webp .section__slide .slider__box .slider .slick-prev{ background: url(../img/ArrLeft.webp) 0 0/100% no-repeat; }

._webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{ background-image: url(../img/Mobile-head.webp); }

._webp .container .header .site-head .site-head__city .site-head__city_name::before{ background-image: url(../img/Place.webp); }

@media screen and (max-width: 1199px){

  ._webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{ background-image: url(../img/Mobile-head.webp); }
}

@media screen and (max-width: 768px){

  ._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_phone::before{ background-image: url(../img/Mobile-head.webp); }
}

@media screen and (max-width: 768px){

  ._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_email::before{ background-image: url(../img/message.webp); }
}

@media screen and (max-width: 768px){

  ._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_fb::before{ background-image: url(../img/Facebook.webp); }
}

@media screen and (max-width: 768px){

  ._webp .footer .footer-box .footer-box__contacts .footer-box__contacts_addres::before{ background-image: url(../img/Place.webp); }
}

@media screen and (max-width: 576px){

  ._webp .container .header .site-head .site-head__tel .site-head__tel_number .site-head__tel_link::before{ background-image: url(../img/Mobile-head.webp); }
}

@media screen and (max-width: 576px){

  ._webp .container .header .site-head .site-head__city .site-head__city_name::before{ background-image: url(../img/Place.webp); }
}